.btn30 {
    width:30% !important;display:inline-block;float:right !important;font-size:0.8em;margin-right:5%;margin-top:15px;text-align:center;
}

.file-link {
    padding: 20px;
    background-color: #dbf2db;
    color: #333;
    font-weight: bolder;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.inactivo * {
    color: #a5a5a5 !important;
}

button {
    cursor: pointer;
}

#btn_pagar_p {
    margin-bottom: 50px;
}

fieldset {
    border: 0px;
}

.login {
    height: 100% !important;
    position: absolute;
    background-color: #dbdbdb;
    overflow-x: hidden;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.pantalla {
    border-bottom: 1px solid #b6ff00;
    position: absolute;
    left: 0px;
    top: 34px;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

.login fieldset {
    width: 80%;
    border-radius: 7px;
    margin: auto;
    border: 2px solid #d2d2d2;
    background-color: #fff;
    display: block;
    background-color: rgba(255, 255, 255, 0.3);  
    max-width:600px;
}

    .login fieldset legend {
        width: 30%;
        margin: auto;
        padding: 5px;
        border-radius: 30%;
        background-color: #fff;
    }

    .login fieldset img {
        width: 100%;
    }

div.lista, div.edicion {
    max-width: 1024px;
    margin: auto;
    background-color: rgba(10,10,10,0.6);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);    
}
div.detalle, div.detalle-w {
    max-width: 1024px;
    margin: auto;
    background-color: rgba(10,10,10,0.5);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
}

div.detalle div.detalle-w {
    background-color: transparent;
}

#lista-transparencia {
    background-color: rgba(10,10,10,0.5) !important;
}

    #lista-transparencia ul.lista li {
        box-shadow: inset 0px 0px 0px 0px #434343;
    }


    .login fieldset input {
        width: 60%;
        margin: auto;
        display: block;
        padding: 10px;
        padding-left: 50px;
        margin-bottom: 25px;
        margin-top: 25px;
        background-size: 30px;
        background-image: url(img/Titan_Company_Logo.png);
        background-repeat: no-repeat;
        background-position-x: 5px;
        background-position-y: center;
        border-radius: 4px;
    }

    .login fieldset button {
        width: 80%;
        margin: auto;
        display: block;
        padding: 10px;
        margin-bottom: 25px;
        margin-top: 25px;
        max-width: 422px;
    }

    .login fieldset .olvido {
        float: right;
        margin: 20px;
        font-size: 10px;
    }

.login .copyright {
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.datos-usuario {
    padding: 10px;
    font-size: 12px;
    background-color: #000;
    color: #ddd;
}

    .datos-usuario span {
        text-align: right;
        display: block;
        margin-right: 40px;
    }

    .datos-usuario img {
        cursor: pointer;
        float: right;
        width: 30px;
        border-radius: 30px;
        margin-top: -22px;
    }

        .datos-usuario img.home {
            float: left;
            margin-right: 10px;
            margin-top: -5px;
        }

    .datos-usuario .home:active {
        background-color: #fff;
    }

.opciones-usuario ul {
    border: 1px solid #00556b;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 5px solid #00556b;
    background-color: rgba(1, 9, 13, 0.9);
    margin: 0px;
    padding: 5%;
    font-size: 12px;
    list-style: none;
    color:#fff;
}

    .opciones-usuario ul li {
        margin-bottom: 15px;
    }

.busqueda {
    margin: auto;
    display: block;
    padding: 5px;
}

    .busqueda input {
        width: 80%;
        margin: auto;
        display: block;
        padding: 5px;
        padding-left: 50px;
        margin-bottom: 5px;
        margin-top: 5px;
        background-size: 30px;
        background-image: url(img/Titan_Company_Logo.png);
        background-repeat: no-repeat;
        background-position-x: 5px;
        background-position-y: center;
        border-radius: 4px;
    }

.titulo {
    display: block;
    padding: 5px;
    background-color: #eee;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    min-height:30px;
    font-family: arial;
}

    .titulo span {
        padding-top: 5px;
        display: inline-block;
    }

ul.lista {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

ul.listaP {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

    ul.listaP li {
        border: 0px;
    }

        ul.listaP li > div {
            border: 1px solid #ddd;
            padding-left: 45px;
            background-color: #fff;
            background-position: left 5px center;
            background-size: 40px;
            background-repeat: no-repeat;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

            ul.listaP li > div span.t-1 {
                font-size: 0.95em;
            }

            ul.listaP li > div span.t-3 {
                font-family: Verdana;
                font-weight: bolder;
                display: inline;
                float: right;
                margin-right: 20px;
                text-align: right;
            }

        ul.listaP li div.PENDIENTE {
            background-image: url(../img/pendiente.png);
        }

        ul.listaP li div._COMP_ {
            background-image: url(../img/pendiente.png);
        }

        ul.listaP li div.PENDIENTE span.t-3 {
            color: #4a1919;
        }

        ul.listaP li div.PAGADO {
            background-image: url(../img/payok.png);
        }

            ul.listaP li div.PAGADO span.t-3 {
                color: green
            }

                ul.listaP li div.PAGADO span.t-3 img {
                    width: 22px;
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    margin-top: 4px;
                }

        ul.listaP li div.CANCELADO {
            background-image: url(../img/cancelado.png);
        }

            ul.listaP li div.CANCELADO span.t-3 {
                color: #901010
            }

    ul.listaP .seleccionado {
        background-color: #FF6204;
    }

ul li.resumen > div {
    border: 0px;
}

ul.lista .itemg {
    width: 100%;
    float: left;
    border-bottom: 1px solid #bbb;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

ul.lista .item{
    width: 95%;
    float: left;
    box-shadow: inset 0px 1px 0px 0px #847b7b;
    margin: 0px;
    margin-bottom: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5%;
}

#p-edicion-asig_conceptos fieldset ul {
    padding: 5px;
    list-style: none;
}

    #p-edicion-asig_conceptos fieldset ul li {
        padding: 5px;
    }

.diaSel {
    background-color: #00556b;
    color: #fff
}

    .diaSel a {
        background: #00556b !important;
        color: #fff !important
    }

ul {
    margin: 0px;
    overflow-y: auto;
}

.item{overflow-x:hidden;}

.item > span {
    font-family: Verdana;
    font-size: 0.95em;
    padding-left: 2%;
}

ul.lista .item ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

    ul.lista .item ol li {
        margin: 0px;
    }

        ul.lista .item ol li > span {
            display: block;
            width: 70%;
            font-size: 1.1em;
            padding: 3px;
            float: left;
            clear: left;
            margin-top: 15px;
            padding-left: 3%;
        }

        ul.lista .item ol li > a {
            display: block;
            width: 30px;
            float: right;
            margin-right: 10px;
        }

ul.lista li button.edit-btn {
    display: block;
    width: 30px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    cursor: pointer;
}

ul.lista .item ol li > a img, .lista .item ol li > button img, ul.lista li button img {
    width: 100%;
}

ul.lista .item .clear {
    border: 0px;
    clear: both;
    width: 100%;
}


.titulo .cancelar {
    float: right;
    color: #4800ff;
    border: 0px;
    background-color: transparent;
}

.titulo .buscar {
    float: right;
    color: #00556b;
    border: 0px;
    font-weight: bold;
    background-color: transparent;
}

.titulo button.regresar {
    float: left;
    width: 40px;
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin-left: 5px;
}

    .titulo button.regresar img {
        width: 100%;
    }

.edicion label {
    display: block;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    clear: both;
    margin-top: 10px;
    font-size: 0.95em;    
}

div.edicion label {
    color: #c6c6c6;
}

.edicion input {
    border: 0px;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.edicion textarea {
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    color: #333;
    font-family: arial;
    overflow: auto;
    border: 0px;
}

.edicion table {
    width: 100%;
}

    .edicion table tr td span {
        font-size: 11px;
    }

    .edicion table tr td {
    }

        .edicion table tr td input {
            width: 100%;
            margin-bottom: 0px;
            text-align: right;
        }

.edicion .adjuntar-btn {
    width: 20px;
    border: 0px;
    background-color: transparent;
    float: right;
    margin-right: 10px;
}

    .edicion .adjuntar-btn img {
        width: 20px;
    }
img.file {
    max-width:100%;
}
.edicion table td.del {
    background-color: #333;
    border-bottom: 1px solid #00556b;
}

.edicion table textarea {
    margin-bottom: 20px;
}


ul.lista .item span.t-1 {
    display: block;
    padding-top: 5px;
    color: #e2e9f7;
    font-weight: bold;
    font-size: 1em;
}

    ul.lista .item span.t-1 b {
        color: #999;
    }



.item span.t-6v {
    display: block;
    width: 65%;
    float: left;
    font-size: small;
    font-weight: normal;
    color: #666;
    margin-top: 5px;
}

ul.lista .item span.t-3 {
    width: 30%;
    padding-left: 5px;
}

li .btnSPR {
    float: right;
    width: 120px;
    margin-right: 10px;
}

.nos_dom input {
    width: 23%;
    float: left;
    margin-left: 2%;
}

ul.lista .item span.t-4 {
    display: block;
    width: 30%;
    float: left;
    font-size: 11px;
    color: #00556b;
    font-weight: normal;
}

.btnsm30 button {
    margin-top: 30px;
}

.padd30 {
    padding: 22px;
}

span.t-1g {
    display: block;
    clear: both;
    padding: 2%;
    width: 95%;
    word-wrap: break-word;
    color: #e3e2e2;
    font-weight: bold;
    font-size: 0.95em;
    margin: auto;
}

span.t-1l {
    display: block;
    clear: left;
    padding: 2%;
    width: 66%;
    float: left;
    word-wrap: break-word;
}

span.t-1 {
    display: block;
    clear: both;
    padding: 5px;
    width: 90%;
    word-wrap: break-word;
    color: #efe9e9;
}

.listaP span.t-1 {
    display: block;
    clear: both;
    padding: 5px;
    width: 90%;
    word-wrap: break-word;
    color: #444;
}

span.t-2 {
    display: block;
    float: left;
    font-size: small;
    font-weight: normal;
    color: #c4c4c4;
    margin-top: 5px;
    padding: 5px;
    width: 90%;
    word-wrap: break-word;
}

span.t-2n {
    display: block;
    width: 45%;
    float: left;
    font-size: 11px;
    font-weight: normal;
    color: #98e277;
    word-wrap: break-word;
}

span.t-3 {
    display: block;
    float: left;
    font-size: 11px;
    color: #2ed0fa;
    font-weight: normal;
    word-wrap: break-word;
}

span.t-3n {
    display: block;
    float: right;
    font-size: 11px;
    color: #03bded;
    font-weight: normal;
    width: 30%;
    word-wrap: break-word;
    padding-right:5%;
}

span.t-4 {
    margin: auto;
    display: block;
    clear: both;
    font-size: 1.1em;
    color: #060a0d;
    font-weight: normal;
    padding: 20px;
    text-align: justify;
    width: 90%;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 20px;
    clear: both;
    float: left;
    color: #fff;
}

span.t-41 {
    display: block;
    clear: both;
    float: none;
    font-size: 13px;
    color: #060a0d;
    font-weight: normal;
    padding: 5px;
    text-align: justify;
}

span.t-5 {
    display: block;
    font-size: 13px;
    color: #ff006e;
    font-weight: bold;
    clear: left;
}

.detalle img {
    display: block;
    max-width: 95%;
    margin: auto;
    clear: both;
}

.detalle button.file {
    border: 0px;
    width: 80%;
    color: #fff;
    background-color: #00556b;
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    display: block;
    cursor: pointer;
    background-size: 30px;
    background-image: url(img/Titan_Company_Logo.png);
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: center;
}

    .detalle button.file:active {
        color: #00556b;
        background-color: #fff;
    }

.detalle hr {
    border: 0px;
    border-bottom: 1px solid #00556b;
    margin-top: 20px;
    margin-bottom: 20px;
}



.btns-up {
}

    .btns-up button {
        border: 0px;
        background: transparent;
        width: 30px;
        padding: 0px;
        float: right;
        margin-right: 30px;
    }

        .btns-up button img {
            width: 30px;
        }

html body hr.clearn {
    clear: both;
    border: 0px;
    margin: 0px;
}

ul.seleccionable li {
    cursor: pointer;
    clear: both;
}


ul.lista-files {
    list-style: none;
    margin-top: 0px;
}

    ul.lista-files li {
        padding: 5px;
        font-size: 12px;
        height: 30px;
    }

button.del-btn {
    padding: 0px;
    float: left;
    border: 0px;
    background: transparent;
    width: 30px;
}

    button.del-btn img {
        width: 30px;
    }

.lista-files span {
    display: inline-block;
    margin-top: 10px;
}

.texto-discreto {
    color: #888;
}

.check-activacion {
    border-top: 1px solid #00556b;
    border-bottom: 10px solid #dadada;
    font-size: 13px;
    padding: 5px;
}

    .check-activacion .etiqueta {
        width: 75%;
        float: left;
        display: block;
        margin-top: 4px;
        color: #11b1ff;
    }

    .check-activacion .switch {
        float: left;
        margin-top: 7px;
    }


.buscador .busqueda input {
    width: 70% !important;
}

#listado-reserv span.t-2{color:#333;}

.buscador .logo-frac {
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width:150px;
}

.buscador p, div.leyenda p {
    width: 60%;
    display: block;
    margin: auto;
    margin-top: 30px;
    font-size: 1em;
    background-color: #dadada;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    color: #104363;
}

.agregar .opcion-1 {
    background-color: #dadada;
    color: #00556b;
    padding-left: 40px;
    background-image: url(img/date.png)
}

.seleccionado {
    background-color: #00556b;
    display: block;
}

li.item div.seleccionado span.t-3 {
    font-weight: bold;
    color: #fff !important;
}

body .ui-datepicker {
    width: 95%;
    margin: auto;
}

    body .ui-datepicker td span, body .ui-datepicker td a {
        padding-top: 1em;
        padding-bottom: 1em;
    }

.menu {
    padding: 0px;
    list-style: none;
    width: 80%;
    padding-top: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

    .menu li.alertav {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 20%;
    }
    .p12, .graf-barra{color:#ddd;}
    .menu li {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 30%;
        margin: 0px;
    }

        .menu li button {
            background: rgba(255,255,255,0.8) !important;
            color: #333;
            width: 100%;
            height: 100%;
            border: 0px;
        }

            .menu li button:active {
                border: 1px solid #979797;
            }

    .menu .ok {
        color: #333
    }

.edicion select {
    width: 80%;
    display: block;
    border: 0px;
    padding: 10px;
    font-family: Verdana;
    color: #333;
    float: left;
}

button.sel-btn {
    float: right;
    border: 0px;
    background-color: transparent;
    width: 30px;
    margin-right: 20px;
    margin-top: 5px;
}

    button.sel-btn img {
        width: 30px;
    }

tr.resultado {
    font-size: 11px;
    text-align: right;
}

.menu button img {
    display: block;
    margin: auto;
}

.proyectos {
}

.buscar-min {
    width: 30px;
    float: right;
    padding: 0px;
    border: 0px;
    background: transparent;
}

    .buscar-min img {
        width: 100%;
    }

.tab {
    width: 45%;
    margin-left: 1%;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    float: left;
    cursor: pointer;
}

.tabs-down {
    color: #3f4445;
    padding-top: 3px;
    border: 1px solid #3f4445;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 999;
}

.tab {
    font-size: 12px;
    border-radius: 4px;
    margin-top: 2px;
}

.tab-sel {
    background-color: #2c5878;
    color: #fff;
    font-weight: normal !important;
    text-shadow: none;
}

.v-p-si {
    background-color: #50a019 !important;
    color: #fff !important;
}

.v-p-no {
    background-color: #424242 !important;
    color: #666 !important;
}

.graficas li.item {
    padding-bottom: 15px;
}

    .graficas li.item span.t-1 {
        float: none;
        padding: 10px;
        width: unset;
        font-weight: normal;
    }

.g-1 {
    display: block;
    background-color: #ddd;
    padding: 3px;
    position: relative;
    height: 14px;
}

    .g-1:active {
        background-color: #fff;
    }

    .g-1 span {
        display: block;
        background-color: #00556b;
        position: absolute;
        height: 14px;
    }

    .g-1 b {
        display: block;
        width: 100%;
        position: absolute;
        text-align: center;
        font-size: 11px;
        font-weight: normal;
        color: #002b4a
    }

table {
    width: 100%;
}

    table td {
        border: 0px solid #00556b;
    }

    table th {
        font-size: 13px;
        color: #002b4a;
        background-color: #eee;
        font-weight: normal;
        text-align: center;
        padding: 5px;
    }

#detalle-proyectos-avance label, #detalle-proyectos-pagos label {
    display: block;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    background-color: #ddd;
    text-align: center;
}

table.graficas td {
    border: 0px;
    background-color: #eee;
}

.graf-pie {
    text-align: center;
    width: 50%;
    float: right;
    margin: auto;
    margin-top: 16px;
}

.img-pro {
    border: 0px solid #eee;
    max-height: 100%;
    border-radius: 0px;
    max-width: 100%;
}

table.desglose {
    margin-top: 20px;
}

    table.desglose img {
        width: 40px;
    }

i.subtotal {
    float: right;
}

table.desglose th {
    background-color: #e9e3e3;
}

.graf-barra {
    position: relative;
    padding: 7px;
    max-width:90%;
}
fieldset legend{color:#ddd;}
    .graf-barra b {
        position: relative;
        z-index: 99;
    }

table.transparente td.votado {
    background-image: url(../img/ok.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.graf-barra label {
    position: relative;
    color:#eee;
}

.graf-barra .progreso {
    background-color: #139acf;
    display: block;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 3px solid #b7b5b5;
}

.graf-barra b {
    margin-right: 7px;
}

table.transparente tr {
    background-color: transparent;
}

#pro-licitacion .agregar {
    border: 0px;
}

.p12 {
    font-size: 12px;
}

.btns-texto {
    text-align: center;
}

    .btns-texto label {
        padding: 15px;
        color: #69f806;
        font-size: 1.3em;
    }

.btns-texto table tr td {
    border: 0px;
}

.btns-texto button {
    width: 80%;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 12px;
    border: 0px;
    background-color: #0ec5f5;
    padding: 5px;
}

.btns-texto button:active {
    color: #0e507a;
    background-color: #fff;
}

table.lista-files {
    text-align: center;
    margin-top: 25px;
}

    table.lista-files img {
        max-height: 100px;
        max-width: 100%;
    }

    table.lista-files textarea {
        height: 50px;
        width: 100%;
        border: 0px;
    }

.si {
    color: #00ce0a !important;
}

.no {
    color: #ff0027 !important;
}

.pantalla-2, .pantalla-3, .pantalla-4, .scrollable, .scrollable-2, .pantalla-21, .pantalla-31 {
    overflow: auto;
    clear: both;
    margin: 0px;
    overflow-x: hidden;
}

.edicion.compact input {
    padding: 3px;
}

.btns-in {
    padding-top: 15px;
}

    .btns-in button {
        float: left;
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
        box-shadow: 1px;
        border: 0px;
        color: #888;
        background-color: #eee;
        padding-bottom: 5px;
        line-height: 14px;
        border-radius: 20px;
        padding-top: 10px;
    }

        .btns-in button + button {
            float: right;
            margin-right: 10px;
        }

table.pagos {
}

    table.pagos th {
        padding: 20px;
        font-size: 1em;
        color: #053960;
        background-color: #56b1ff;
        font-weight: bolder;
    }

    table.pagos td {
        border-bottom: 1px solid #f2f2f2;
        color: #666;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
        line-height: 1.2em;
        background-color: #fff;
        padding: 10px;
    }

.espera {
    background-color: #fff !important;
    color: #fff !important;
}

    .espera img {
        margin: -12px auto 0px auto;
        height: 100px;
        position: relative;
    }

.pantalla-3 p {
    padding: 5px;
    word-wrap: break-word;
    font-size: 13px;
    color: #333;
    clear: both;
    display: block;
}

button.centrado30 {
    margin: auto;
    width: 30%;
    padding: 3px;
    display: block;
    clear: both;
    margin-top: 10px;
    text-align: center;
}

.separado10 {
    margin-top: 10px;
    margin-bottom: 10px
}

div.item-enc td label {
    display: block;
    cursor: pointer;
}

.alarma {
}

.nota-principal {
    width: 98%;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 2%;
}

div.firma-hist {
    color: #1ed8ff;
    font-size: 11px;
    text-align: center;
    font-family: calibri;
    font-size: 12px;
    margin-top: 25px;
}

    div.firma-hist span {
        display: inline-block;
    }
#control-pago {background-color:#fff;}
.aux-1 {
    color: #779b64;
    float: right;
    display: inline;
    width: auto;
    margin-right: 25px;
}

button.con-btn {
    cursor: pointer;
    display: block;
    width: 30px;
    padding: 0px;
    padding-top: 0px;
    padding-top: 5px;
}

.btn-apl {
    width: 40px;
    height: 40px;
    padding: 1%;
    float: right;
    margin-right: 1%;
    position: relative;
}

    .btn-apl button {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: +1;
    }

    .btn-apl > img {
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: #fff;
        border-radius: 30px;
    }

ul.lista li .t-1m {
    display: inline-block !important;
    width: 60% !important;
    padding-top: 15px;
    color: #ddd;
    font-size: 1.0em;
}

ul.lista li .t-2 {
    margin-top: 0px;
}

.datos-bd {
    padding: 15px;
    background-color: #fff;
    color: #666;
}

.datos-bd span.t-3{color:#2c5878}

button.cerrar-datos-p {
    float: right;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    border: 0px;
    color: #8a8a8a;
    background-color: #000;
}

.detalle .btn2,.detalle-w.btn2{display:block;}

.tabs-down, div.agregar button, .menu button, .btn2, button.aceptar, button.btn-item {
    width: 98%;
    text-align: left;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    color: #2c5878;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    max-width:400px;
}

div.abajo {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #ddd;
}

.wrap-lista {
    list-style: none;
    padding: 10px;
}
#graf-transparencia {
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    margin: 20px auto !important;
    max-width:1024px;
    border-radius:15px;
}
    .wrap-lista li {
        font-size: 1.1em;
        color: #c6c6c6;
        font-weight: bold;
        padding: 15px;
        border-bottom: 1px solid #dadada;
        cursor: pointer;
    }

        .wrap-lista li:active {
            background-color: rgba(81, 203, 238, 1);
        }

        .wrap-lista li.seleccionado {
            background-color: rgba(81, 203, 238, 1);
        }

button.btn-item {
    float: right;
    font-size: 0.85em;
    padding: 3px 6px 3px 6px;
    width: auto;
    display: inline-block;
}

label button.btn-item {
    font-size: 1em;
}

button.btn-item.n1 {
    margin-left: 10px;
}

.tabs-down {
    margin-left: 1%;
    padding: 0px;
}

button.aceptar:hover, div.agregar button:hover, .menu button:hover, .btn2:hover, .btn-item {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

.menu button:active, .btn2:active, button.aceptar:active, .btn-item {
    position: relative;
    top: 1px;
}
.menu button {
    padding: 0px;
    font-size: small;
    font-weight: normal;
    text-align: center;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0,0.5);
}

.menu li {
    margin-left: 3%;
}

.btn-center {
    clear: both;
    text-align: center;
}

    .btn-center button {
        width: 60%;
        text-align: center;
    }

div.agregar {
    padding: 10px;
    border-bottom: solid 1px #ddd;
}

    div.agregar button, button.aceptar {
        width: 80%;
        text-align: center;
        margin: auto;
        display: block;
        cursor: pointer;
        max-width:600px;
    }

button.aceptar {
    padding: 10px;
}

div.agregar button:active, .aceptar:active {
    margin-top: 1px;
}

div.agregar button, .menu button {
    text-align: center;
}

.busqueda input, textarea, .login fieldset input {
    transition: all 0.30s ease-in-out;
    outline: none;
    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
    border: 1px solid #b6b6b6;
}

    .busqueda input:focus, .edicion input:focus, textarea:focus, .login fieldset input:focus {
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        border: 1px solid rgba(81, 203, 238, 1);
    }

.detalle-w {
    padding: 20px;
    font-size: 1em;
}

.resaltado {
    color: #f8f8f8;
    font-weight: bolder;
    text-align: center;
    background: #ff983d;
    padding: 20px;
}
.detalle-w span.t-1 {
    font-weight: bold;
    color: #c4c4c4;
    font-size:1.1em;
}
.datos-bd span.t-1{color:#222;}

    .detalle-w span.t-2 {
        font-size: 0.95em;
    }

    .detalle-w span.t-3 {
        font-size: 1em;
    }

.detalle-w p {
    margin: auto;
    margin-top: 10px;
    font-size: 0.95em;
    clear: both;
    color: #efefef;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #888;
    border-radius: 5px;
}

    .detalle-w .t-41 {
        font-size: small;
        color: #989898;
        display: block;
        clear: both;
    }

input[type=checkbox] {
    width: auto;
    display: inline;
}

.resultados {
    font-size: small;
}
