/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }





 table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    padding: 3px;
}
/* provide some minimal visual accomodation for IE8 and below */
table tr {
    background: #b8d1f3;
}
ul.lista.color{width:100%;}
/*  Define the background color for all the ODD background rows  */
ul.color li:nth-child(even), table tr:nth-child(odd) {
    background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
ul.color li:nth-child(odd),table tr:nth-child(even) {
    background: #dae5f4;
}

ul.color2 li:nth-child(even) {
    background: #e6e5de;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
}
    /*  Define the background color for all the EVEN background rows  */
ul.color2 li:nth-child(odd) {
    background: #f3f3f3;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
}
