<?xml version="1.0" encoding="utf-8" ?>
<widget id="com.softronel.safra" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>SAFRA</name>
  <description>
    sistema de administración para Complejos habitacionales
  </description>
  <author email="info@softronel.com.mx" href="softronel.com.mx">
    Softronel Team
  </author>
  <platform name="android">
    <resource-file src="google-services.json" target="google-services.json" />
</platform>  
  <preference name='phonegap-version' value='cli-7.1.0' />
  <preference name='pgb-builder-version' value='2' />
  <plugin name="cordova-plugin-fcm-with-dependecy-updated" />  
  <plugin name="cordova-plugin-inappbrowser" />  
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-image-picker"  source="npm" />
  <plugin name="cordova-plugin-file-transfer" source="npm" />
  <plugin name="cordova-plugin-badge"/>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="*" />
</widget>
