<?xml version="1.0" encoding="utf-8" ?>
<widget id="com.softronel.safra" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>SAFRA</name>
  <description>
    sistema de administración para Complejos habitacionales
  </description>
  <author email="info@softronel.com.mx" href="softronel.com.mx">
    Softronel Team
  </author>
  <preference name='phonegap-version' value='cli-7.0.1' />
  <preference name='pgb-builder-version' value='1' />
  <platform name="android">
    <resource-file src="google-services.json" target="app/google-services.json" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <gap:plugin name="cordova-plugin-firebase@0.1.21" source="npm"/>
  </platform>
  <content src="index.html" />
  <access origin="*" />
</widget>
